.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.row-response{
    margin-left: 20px;
}

.content{
    margin-bottom: 20px;
}

.bold{
    font-weight :bold;
}

.hide {
    display :none
}

.min-w-100{
    min-width: 100%;
}
